@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0 !important;
  padding: 0 !important;
  min-height: 100vh !important;
  width: 100% !important;
}

body {
  position: relative !important;
}

#root {
  position: relative !important;
  z-index: 1 !important;
  min-height: 100vh !important;
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}